<div class="d-flex justify-content-center">
<div class="body d-flex flex-column" id="image-section">
  <div class="company-logo text-end mx-3 my-2">
    <img src="../../assets/img/logo.png" alt="" />
    <label>FLYONTECH <span>SOLUTIONS</span></label>
  </div>
  <div class="text-center title">
    <p>WE ARE <span>HIRING !!</span></p>
    <p class="sub-title">
      React Js Developer
      <br />
      <label>- Position - 2</label>
    </p>
  </div>
  <div class="circle"></div>
  <div class="details d-flex">
    <div class="info">
      <p>- Experience: 2 + Year</p>
      <p>- Location: Suart</p>
      <p>- Email: hr.flyontechsolution@gmail.com</p>
      <p>- Contact: 6353543835</p>
    </div>
    <div class="logo w-50">
      <img src="../../assets/img/employee.png" alt="" />
    </div>
  </div>

  <div class="address ms-1">
    <p>
      304, Angle Square, B/s Royal Square, VIP Circle, Utran, Surat - 395105
    </p>
  </div>
</div>
</div>

<div class="text-center p-2">
  <button class="btn btn-primary p-1" (click)="generateImage()">
    Create Hiring Image
  </button>
</div>
