<div class="d-flex justify-content-center gap-4 my-3">
  <button class="btn btn-outline-primary" [routerLink]="['/birthday']">Birthday</button>
  <button class="btn btn-outline-primary" [routerLink]="['/festival']">Festival</button>
  <button class="btn btn-outline-primary" [routerLink]="['/hiring']">Hiring</button>
  <button class="btn btn-outline-primary" [routerLink]="['/work-anniversary']">Welcome</button>
  <button class="btn btn-outline-primary" [routerLink]="['/welcome']">Work-anniversary</button>
</div>
<router-outlet></router-outlet>
