<div class="d-flex justify-content-center">
<div
  class="body d-flex align-items-start flex-column bd-highlight mb-3"
  id="image-section"
>
  <div class="p-2 bd-highlight header text-center">
    <img src="../../assets/img/userss.png" alt="Cinque Terre" />
  </div>
  <div class="mb-auto p-2 bd-highlight main">
    <h2>Damini Sorathiya</h2>
    <h4>HR Manager</h4>
  </div>
  <div class="p-2 bd-highlight footer">
    <div class="footer-left">
      <img src="../../assets/img/ballons/pinkbg.png" class="ballonsbg1" alt="" />
      <img src="../../assets/img/ballons/bluebg.png" class="ballonsbg2" alt="" />
      <h6>HAPPY</h6>
      <div class="anni-count">
        <img src="../../assets/img/numbers/1-removebg-preview.png" alt="" />
        <h4>WORK</h4>
        <span>st</span>
      </div>
      <h2>ANNIVERSARY!</h2>
    </div>
    <div class="footer-right">
      <img src="../../assets/img/ballons/skybluebg.png" class="ballonsbg3" alt="" />
      <img src="../../assets/img/ballons/redbg.png" class="ballonsbg4" alt="" />
      <p>Congratulations!</p>
      <label>Thanks for being a part of  Flyontech Family</label>
      <div class="company-logo">
        <img src="../assets/img/FlyOnTech_rectangle_transparent.png" alt="" />
      </div>
    </div>
  </div>
</div>
</div>

<div class="text-center p-2">
  <button class="btn btn-primary p-1" (click)="generateImage()">
    Create Work Anniversary Image
  </button>
</div>
